#!/bin/sh
[[ $TRACE ]] && set -x
set -eo pipefail
trap 'printf "{\"Err\":\"mounting %s failed: %s \"}" "${VOLUMEDRIVER_NAME}" "${ERROR}"' exit

export NS_PPID=${NS_PPID:-$(container-parent-pid)}
export NBD=${NBD:-$(device-of $VOLUMEDRIVER_NAME)}
export NBD=${NBD:-/dev/$(next-free-nbd)}

_run() {
  ERROR=$(attach $VOLUMEDRIVER_NAME $NBD 2>&1 | tr '\n' ' ')
  sleep 1
  ERROR=$(in-parent mount -o discard $NBD $MOUNTS/$VOLUMEDRIVER_NAME 2>&1 | tr '\n' ' ')
}

ERROR=$(_run)

printf '{"Mountpoint":"%s"}\n' "$(mountpoint-of $VOLUMEDRIVER_NAME)"
trap - exit